body{
background-color: #f0ecff !important
}
img{
    object-fit: cover;
    object-position: center;
}
.forevery-img{
    width:40px;
    height: 40px;
}
    
   
.card{
    margin-top: 25px;
}
#add-button{
    position: fixed;
    bottom: 5%;
    right: 7%;
    height: 50px;
    width: 50px;
    font-size: 50px;
    color: white;
    border-radius: 50%;
    line-height: 50%;
    padding: 7px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
#add-button:hover{
    transition: 0.3s;
    background-color: blue !important;
}
.card{
    cursor: pointer;
    
}
.number-info span{
    font-size: 45px;
    color: black;
}
/* Loader code  */
.lds-roller,
.lds-roller div,
.lds-roller div:after {
    box-sizing: border-box;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7.2px;
    height: 7.2px;
    border-radius: 50%;
    background: #ffff;
    margin: -3.6px 0 0 -3.6px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 62.62742px;
    left: 62.62742px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 67.71281px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 70.90963px;
    left: 48.28221px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 70.90963px;
    left: 31.71779px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 67.71281px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 62.62742px;
    left: 17.37258px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12.28719px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
#loader{
    background-color: rgba(201, 191, 191, 0.97);
    position: fixed;
    left: 0px;
    right: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    top: 0px;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 13px;
    transition: 0.2s;

}
/* Loader code  */
.navbar-brand{
        color: #fff !important;
}
.navbar-brand:hover{
    background-color:blue !important;
    transition: 0.2s;
}
.nav-link{
    background-color: rgba(255, 255, 255, 0.97) !important;
    border-radius: 30px !important;
    padding: 15px !important;
    font-size: 20px !important;
    font-family: 400 !important;
    margin-left: 5px;
}
.nav-link:hover{
    background-color:rgba(255, 255, 255, 0.203) !important ;
}
    